@model SIKONSystem.Models.User
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ny bruger</h1>

<fieldset>
    @using (Html.BeginForm())
    {
        <p>
            @Html.Label("Navn")
            @Html.EditorFor(x => x.Name)
        </p>

        <p>
            @Html.Label("Email")
            @Html.EditorFor(x => x.Email)
        </p>

        <p>
            @Html.Label("Adresse")
            @Html.EditorFor(x => x.Address)
        </p>

        <p>
            @Html.Label("Postnummer")
            @Html.EditorFor(x => x.Zipcode)
        </p>

        <p>
            @Html.Label("Telefon")
            @Html.EditorFor(x => x.Telephone)
        </p>

        @*<p>
            @Html.Label("Password")
            @Html.EditorFor(x => x.Password)
        </p>*@

        @*<p><button type="submit">Opret bruger</button></p>*@
        <a asp-controller="Users" asp-action="Create">Opret bruger</a>
    }
</fieldset>