@model SIKONSystem.Models.User
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Din profil</h1>

<fieldset>
    @using (Html.BeginForm())
    {
        <p>
            @Html.Label("Navn")
            @Html.LabelFor(x => x.Name)
        </p>

        <p>
            @Html.Label("Email")
            @Html.LabelFor(x => x.Email)
        </p>

        <p>@Html.Label("Adresse")
            @Html.LabelFor(x=>x.Address)</p>

        <p><button type="submit">Slet bruger</button></p>
    }
</fieldset>

